---
- name: Configure AAP from Code
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    env: dev

  pre_tasks:
    - name: "Load common vars"
      ansible.builtin.include_vars:
        dir: "{{ playbook_dir }}/../vars/common"
        extensions: ['yaml', 'yml']
      tags:
        - always

    - name: "Load environment vars ({{ env }})"
      ansible.builtin.include_vars:
        dir: "{{ playbook_dir }}/../vars/{{ env }}"
        extensions: ['yaml', 'yml']
      tags:
        - always

    - name: "Get OAuth token from Gateway"
      ansible.builtin.uri:
        url: "https://{{ aap_hostname }}/api/gateway/v1/tokens/"
        user: "{{ aap_username }}"
        password: "{{ aap_password }}"
        method: POST
        force_basic_auth: true
        validate_certs: "{{ aap_validate_certs }}"
        status_code: 201
      register: authtoken_res
      no_log: "{{ aap_configuration_secure_logging | default(true) }}"
      tags:
        - always

    - name: "Set auth facts"
      ansible.builtin.set_fact:
        aap_token: "{{ authtoken_res.json.token }}"
        aap_token_url: "{{ authtoken_res.json.url }}"
        controller_hostname: "https://{{ aap_hostname }}"
        controller_oauthtoken: "{{ authtoken_res.json.token }}"
      no_log: "{{ aap_configuration_secure_logging | default(true) }}"
      tags:
        - always

  tasks:
    - name: "Apply configuration"
      block:
        - name: "Run dispatch"
          ansible.builtin.include_role:
            name: infra.aap_configuration.dispatch
      always:
        - name: "Delete OAuth token"
          ansible.builtin.uri:
            url: "https://{{ aap_hostname }}{{ aap_token_url }}"
            user: "{{ aap_username }}"
            password: "{{ aap_password }}"
            method: DELETE
            force_basic_auth: true
            validate_certs: "{{ aap_validate_certs }}"
            status_code: 204
          when: aap_token_url is defined
...
